<section class="row">
    <header>
        <h1>
            My Html5 Exercise<small><time>@DateTime.Now.ToString("yyyy/MM/dd")</time></small>
        </h1>
    </header>
    <nav>
        <a href="https://news.google.com.tw/news?pz=1&hl=zh-TW&tab=nn">Yahoo</a>|
        <a href="https://tw.news.yahoo.com/">Google</a>|
        <a href="http://www.ettoday.net/">EToday</a>
    </nav>
    <article class="col-md-9 col-sm-12">
        <header class="row">
            <h2 class="col-md-12"><mark><strong>新聞內容</strong></mark></h2>
        </header>
        <div id="NewsInfo">

        </div>
        @*<section class="row">
                <!--partialview-->
                <article class="col-md-12 container-fluid">
                    <header class="row">
                        <h2 class="col-md-12">華碩推世界最輕14吋筆電ASUSPRO B9440</h2>
                    </header>
                    <section class="row">
                        <img class="col-md-3 hidden-sm img-responsive img-rounded" src="~/Images/news_asus.jpg" />
                        <p class="col-md-9 col-sm-12">
                            【記者謝政儒台北報導】華碩今日宣布推出世界最輕的14吋商務筆記型電腦ASUSPRO B9440，機身重量僅1.05Kg。ASUSPRO B9440，
                            時尚與實用兼具，採用鎂鋁合金打造機身，同時還通過美國MIL-STD 810G耐用性標準，搭載最新第七代Intel Core i7處理器與獨家ASUS Business Manager軟體套件，
                            並可依實際需求選配Intel vPro。<br />
                            採用鎂鋁合金機身設計，通過內部多項產品測試，包括：落摔、鉸鏈、面板壓力、鍵盤防潑水等，再加上長達10小時的傑出電池續航力，以及30分鐘充電50%的快充技術，可滿足使用者日常所需。
                            內建14 吋Full HD(1920 x 1080)防眩光顯示器，並具備178度廣視角；防眩光設計還能減少螢幕反光對眼睛所造成的不適，長時間使用亦輕鬆無負擔；5.4mm超窄邊框設計，不僅工作、娛樂，
                            視野均寬廣開闊，機身較傳統13吋筆記型電腦更見靈巧。
                        </p>
                    </section>
                    <footer class="row">
                        <p class="col-md-12 text-right">自立晚報<time>2017/03/17</time></p>
                    </footer>
                </article>
            </section>
            <hr />*@
        <footer class="row">
            <p class="col-md-12 text-center">&copy;Google News</p>
        </footer>
    </article>
    <aside id="AsidePanel" class="col-md-3 hidden-sm">
        <!--partcial view-->
        @*<section class="row">
            <img class="col-md-2 img-responsive img-rounded" src="~/Images/news_asus.jpg" style="padding:0px" />
            <a class="col-md-10" href="#" style="padding:0px"><strong>華碩推世界最輕14吋筆電ASUSPRO B9440</strong></a>
        </section>*@
    </aside>
</section>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
            GetAsside();

            $('[data-toggle="tooltip"]').tooltip();
        });

        function GetList() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetList","Home")',
                success: function (resultHtml) {
                    $('#NewsInfo').html(resultHtml);
                }
            })
        };

        function GetAsside() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAsside","Home")',
                success: function (resultHtml) {
                    $('#AsidePanel').html(resultHtml);
                }
            })
        }
    </script>
}