<section class="row">
    <header>
        <h1>
            My Html5 Exercise<small><time>@DateTime.Now.ToString("yyyy/MM/dd")</time></small>
        </h1>
    </header>
    <article class="col-md-9 col-sm-12">
        <header class="row">
            <h2 class="col-md-12"><mark><strong>新聞內容</strong></mark></h2>
        </header>
        <div id="NewsInfo">

        </div>
        @*<section class="row">
                <!--partialview-->
                <article class="col-md-12 container-fluid">
                    <header class="row">
                        <h2 class="col-md-12">華碩推世界最輕14吋筆電ASUSPRO B9440</h2>
                    </header>
                    <section class="row">
                        <img class="col-md-3 hidden-sm img-responsive img-rounded" src="~/Images/news_asus.jpg" />
                        <p class="col-md-9 col-sm-12">
                            【記者謝政儒台北報導】華碩今日宣布推出世界最輕的14吋商務筆記型電腦ASUSPRO B9440，機身重量僅1.05Kg。ASUSPRO B9440，
                            時尚與實用兼具，採用鎂鋁合金打造機身，同時還通過美國MIL-STD 810G耐用性標準，搭載最新第七代Intel Core i7處理器與獨家ASUS Business Manager軟體套件，
                            並可依實際需求選配Intel vPro。<br />
                            採用鎂鋁合金機身設計，通過內部多項產品測試，包括：落摔、鉸鏈、面板壓力、鍵盤防潑水等，再加上長達10小時的傑出電池續航力，以及30分鐘充電50%的快充技術，可滿足使用者日常所需。
                            內建14 吋Full HD(1920 x 1080)防眩光顯示器，並具備178度廣視角；防眩光設計還能減少螢幕反光對眼睛所造成的不適，長時間使用亦輕鬆無負擔；5.4mm超窄邊框設計，不僅工作、娛樂，
                            視野均寬廣開闊，機身較傳統13吋筆記型電腦更見靈巧。
                        </p>
                    </section>
                    <footer class="row">
                        <p class="col-md-12 text-right">自立晚報<time>2017/03/17</time></p>
                    </footer>
                </article>
            </section>
            <hr />
            <section class="row">
                <!--partialview-->
                <article class="col-md-12 container-fluid">
                    <header class="row">
                        <h2 class="col-md-12">iPhone 6s Plus 還是爆不停？炸毀過程被完整拍下！</h2>
                    </header>
                    <section class="row">
                        <img class="col-md-3 hidden-sm img-responsive img-rounded" src="~/Images/news-iphone.png" />
                        <p class="col-md-9 col-sm-12">
                            一開始，店員只是協助將 Otterbox 手機保護殼取下，接著用戶取回 iPhone 6s Plus 進行了一些操作，在店員準備要對手機進行更進一步的檢查時，
                            iPhone 6s Plus 突然冒出激烈白煙。<br />
                            該報導指出，當時用戶觸控手機的手指壓力沒有特別大，意外發生時店員緊急透過滅火器制止 iPhone 6s Plus 繼續冒煙。對於這個事件該維修電與 Apple 都沒有做出任何回應，
                            因此還無法確認 iPhone 6s Plus 突然冒煙的原因為何。
                        </p>
                    </section>
                    <footer class="row">
                        <p class="col-md-12 text-right">自立晚報<time>2017/03/16</time></p>
                    </footer>
                </article>
            </section>
            <hr />
            <section class="row">
                <!--partialview-->
                <article class="col-md-12 container-fluid">
                    <header class="row">
                        <h2 class="col-md-12">Sony 首款4K HDR OLED電視售價公開，55吋約台幣20萬元</h2>
                    </header>
                    <section class="row">
                        <img class="col-md-3 hidden-sm img-responsive img-rounded" src="~/Images/news_sony.jpg" />
                        <p class="col-md-9 col-sm-12">
                            CES 2017 期間，Sony 公司發表旗下首款 4K OLED 電視系列，而在三星公開QLED系列電視價格的隔天，Sony 也宣布旗下首款配備 4K OLED 面板的 BRAVIA HDR 電視「XBR-A1E 」開放預售、4 月開賣，目前公開價格的有 55 吋、
                            65 吋兩款，55 吋售價 5,000 美元、65 吋售價 6,500 美元，至於 77 吋目前尚未公開。<br />
                            全新的XBR-A1E都備有 4K HDR Processor X1 Extreme 處理器與HDR Remaster技術、TRILUMINOS顯色技術，藉此提高顏色準確性、對比度和清晰度，並支援偵測 HDR 內容，提供符合 HDR10、HLG i 和 Dolby Vision 標準的影音內容。<br />
                            另外還有首創神奇的Acoustic Surface 音效技術，電視不用配備音響系統，直接讓整個屏幕與聲音共振來播放聲音，不像傳統的 LED 電視，聲音從電視機底部或背部或兩側發出，而是好像跟著畫面一起同步一般，搭配 OLED 面板提供最自然的影音效果。
                        </p>
                    </section>
                    <footer class="row">
                        <p class="col-md-12 text-right">東森新聞<time>2017/03/16</time></p>
                    </footer>
                </article>
            </section>*@
        <footer class="row">
            <p class="col-md-12 text-center">&copy;Google News</p>
        </footer>
    </article>
    <aside id="AsidePanel" class="col-md-3 hidden-sm">
        <!--partcial view-->
        @*<section class="row">
            <img class="col-md-2 img-responsive img-rounded" src="~/Images/news_asus.jpg" style="padding:0px" />
            <a class="col-md-10" href="#" style="padding:0px"><strong>華碩推世界最輕14吋筆電ASUSPRO B9440</strong></a>
        </section>
        <hr />
        <section class="row">
            <img class="col-md-2 img-responsive img-rounded" src="~/Images/news-iphone.png" style="padding:0px" />
            <a class="col-md-10" href="#" style="padding:0px"><strong>iPhone 6s Plus 還是爆不停？炸毀過程被完整拍下！</strong></a>
        </section>
        <hr />
        <section class="row">
            <img class="col-md-2 img-responsive img-rounded" src="~/Images/news_sony.jpg" style="padding:0px" />
            <a class="col-md-10" href="#" style="padding:0px"><strong>Sony 首款4K HDR OLED電視售價公開，55吋約台幣20萬元</strong></a>
        </section>*@
    </aside>
</section>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
            GetAsside();
        });

        function GetList() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetList","Home")',
                success: function (resultHtml) {
                    $('#NewsInfo').html(resultHtml);
                }
            })
        };

        function GetAsside() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAsside","Home")',
                success: function (resultHtml) {
                    $('#AsidePanel').html(resultHtml);
                }
            })
        }
    </script>
}